{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block reviews-block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->

  <div class="inner">
    <div class="grid">

      {% for person in site.data.team %}
      {% assign team_member = person[1] %}
      {% assign name_not_empty = team_member.first_name | is_not_empty %}
      {% if name_not_empty %}
      <div class="card-two">
        <header>
          <div class="avatar">
            <img src="{{team_member.photo}}" alt="{{team.member.first_name}} {{team_member.last_name}}" />
          </div>
        </header>

        <h4>{{team_member.first_name}} {{team_member.last_name}}</h4>
        <div class=" desc">
          {{ team_member.bio }}
        </div>

        <footer>
          <!-- <p>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
          </p> -->
        </footer>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section><!-- .block -->
