---
---

// Font.
$font: (
  primary: (
    "hero-new",
    sans-serif,
  ),
);

// Palette.
$palette: (
  primary: #ce89ce,
  meta: #af49af,
  border: #daa6da,
  secondary: #4c54c9,
  meta-alt: #5b63ce,
  meta-alt-light: #878ddb,
  bg: #1b212f,
  dark: #1b212f,
  light-bg: #f3e1f3,
  off-white: #f8f9ff,
  accent: #8dddd2,
  accent-purple: #b5267b,
  accent-purple-alt: #632695,
  accent-green: #438945,
  accent-green-alt: #73bb75,
  accent-orange: #fe8c00,
  accent-orange-alt: #f83600,
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
@import "imports/events";
