---
---

// Font.
$font: (
  primary: ("hero-new",sans-serif)
);

// Palette.
$palette: (
  primary:           #eda0c4,
  secondary:         #5b63ce,
  meta:              darken(#eda0c4, 10%),
  meta-alt:          #768de4,
  border:            lighten(#eda0c4, 15%),
  bg:                #1b212f,
  dark:              #1b212f,
  light-bg:          #f9e8ee,
  off-white:         #F8F9FF,
  accent:            #8dddd2,
  accent-purple:     #b5267b,
  accent-purple-alt: #632695,
  accent-green:      #438945,
  accent-green-alt:  #73bb75,
  accent-orange:     #fe8c00,
  accent-orange-alt: #f83600
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
@import "imports/events";
