---
---

// Font.
$font: (
  primary: ("hero-new",sans-serif)
);

// Palette.
$palette: (
  primary:           #feaea3,
  secondary:         #ff5f7c,
  meta:              lighten(#feaea3, 5%),
  meta-alt:          darken(#95adff, 10%),
  border:            lighten(#feaea3, 58%),
  bg:                #171853,
  dark:              #262b3e,
  nav:               #171853,
  dark-bg:           #F2F2F2,
  light-bg:          #ffefed,
  // accent:            #CDA3D9,
  accent:            #95adff,
  accent-alt:        #747dce,
  accent-purple:     #b5267b,
  accent-purple-alt: #632695,
  accent-green:      #438945,
  accent-green-alt:  #73bb75,
  accent-orange:     #fe8c00,
  accent-orange-alt: #f83600
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
@import "imports/events";
