/**
 * Content
 * ----------------------------------------------------------------------------
 */

/* Clearing floats */
.event-content:after {
  clear: both;
}

.event-content:before,
.event-content:after {
  content: "";
  display: table;
}

.event-content {
  color: _palette(dark);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: _palette(secondary);
  }
}

.event {
  margin-bottom: 3.33333em;
}

.event-header {
  margin-bottom: 2.5rem;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: _palette(secondary);
  }

  .event-title {
    margin: 0 0 1.66667rem;

    a {
      border: 0;
      color: _palette(secondary);

      &:hover,
      &:focus {
        color: _palette(secondary);
      }
    }
  }
}

.events-subtitle {
  border-bottom: 1px solid _palette(secondary);
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
  padding-bottom: 1.33333rem;
}

.events-thumbnail {
  display: block;
  margin-bottom: 1.66667rem;
  object-fit: fill;

  img {
    width: 100%;
  }
}

.events-meta {
  color: _palette(dark);
  font-size: 0.88rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
}
.events-meta-alt {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
}

/* event feed */
.event-feed {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.83333em 1.66667em;

  .event-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.66667em;

    @media only screen and (max-width: 900px) {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    @media only screen and (max-width: 600px) {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }

  .event-card-inside {
    background: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0.833333em;
  }

  .event-card-thumbnail {
    border: 0;
    border-radius: 0 0;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 66.666%;
    }

    img {
      border-radius: 0 0;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .event-card-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.33rem 0;
    color: _palette(primary);
  }

  .event-header {
    margin-bottom: 0.83333rem;
    text-align: left;
  }

  .event-title {
    font-size: 1.33333rem;
    margin: 0;
  }

  .event-excerpt {
    font-size: 16px;
    color: _palette(dark);
  }

  .event-meta {
    font-size: 14px;
    margin: 0;
  }
}

@media only screen and (max-width: 750px) {
  .event-feed {
    margin-left: -2vw;
    margin-right: -2vw;

    .event-card {
      margin-bottom: 4vw;
    }

    .event-card-inside {
      margin-left: 2vw;
      margin-right: 2vw;
    }
  }
}
