/**
 * Content
 * ----------------------------------------------------------------------------
 */

.events-meta {
  color: _palette(meta-alt);
  font-size: 0.88rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
}

