/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.block-title {
  font-size: 2.44444rem;
  margin: 0 0 1.33333rem;

  &:last-child {
    margin-bottom: 1.66667rem;
  }
}

.block-header {
  margin-bottom: 2rem;
  text-align: center;

  .block-title {
    font-size: 1.66667rem;
    margin: 0 0 0.25rem;
  }
}

.block-preview {
  margin-bottom: 1.66667rem;
}

.block-buttons {
  margin-bottom: 0.83333rem;

  .button {
    margin: 0 7px 0.83333rem;
  }
}

.block-item {
  margin-bottom: 1.66667rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.hero-block,
.text-block,
.block-item {
  .cell {
    text-align: center;
  }

  .underline:after {
    display: none;
  }
}

.hero-block,
.cta-block {
  .block-buttons {
    .button {
      padding: 0.625em 40px;
    }
  }
}

@media only screen and (min-width: 801px) {
  .hero-block,
  .text-block,
  .block-item {
    .grid{
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -0.83333rem;
    }

    .cell {
      box-sizing: border-box;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-left: 0.83333rem;
      margin-right: 0.83333rem;
      text-align: left;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: 555px;
        text-align: center;

        .underline {
          &:after {
            display: none;
          }
        }
      }
    }

    .block-preview {
      -webkit-flex: 7;
      -ms-flex: 7;
      flex: 7;
      padding-right: 68px;
    }

    .block-content {
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
    }
    
    .underline:after {
      display: block;
    }

    .button {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .hero-block,
  .text-block,
  .block-item:nth-child(2n+1) {
    .grid{
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .block-preview {
      padding-left: 68px;
      padding-right: 0;
    }
  }
}

/* Call to Action */
.cta-block {
  .block-title {
    margin: 0 0 0.25rem;
  }

  .cell {
    text-align: center;
  }

  @media only screen and (min-width: 741px) {
    .grid{
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -0.83333rem;
    }

    .cell {
      box-sizing: border-box;
      margin-left: 0.83333rem;
      margin-right: 0.83333rem;
      text-align: left;
    }

    .block-content {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .block-buttons {
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-left: 68px;
    }
  }
}

/* Reviews */
.review {
  border: 0;
  font-size: 0.88889rem;
  line-height: 1.75;
  margin: 0 auto 1.66667rem;
  max-width: 488px;
  padding: 0;
}

.review-inside {
  background: _palette(off-white);
  border: 1px solid _palette(border);
  border-radius: none;
  box-shadow: none;
  padding: 1.11111rem;
}

.review-inside-dark {
  background: _palette(bg);
  border: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 1.11111rem;
}

.review-text {
  margin-bottom: 1.5em;
  padding-top: 2rem;
  position: relative;

  &:before {
    color: _palette(accent);
    content: "\201C";
    display: block;
    font-size: 2.66667rem;
    font-weight: bold;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
  }
}

.review-footer {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .review-author {
    color: _palette(secondary);
    font-size: inherit;
    font-weight: bold;
    margin: 0;
  }

  .review-avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 15px;
    width: 60px;
  }
}

// Project 

.project-text {
  margin-bottom: em;
  padding-top: 1.5em;
  position: relative;
  color: _palette(off-white);
}
.project-text-dark {
  margin-bottom: em;
  padding-top: 1.5em;
  position: relative;
  color: _palette(dark);
}

.project-header {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .project-name {
    border-bottom: 3px solid _palette(secondary);
    color: _palette(off-white);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    &:hover{
      border-bottom: 3px solid _palette(meta);
      color: _palette(meta);
    }
  }

    .project-avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 15px;
    width: 60px;
  }

  .project-url{
    border-bottom: none;
  }

  }


@media only screen and (min-width: 741px) {
  .reviews-block {
    .grid{
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -0.83333rem;

      justify-content: center;
    }

    .card {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 280px;
    -ms-flex: 1 1 280px;
    flex: 1 1 280px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2px;
    background-color: _palette(dark);
    cursor: pointer;
    border-radius: 3px;
    border: 3px solid _palette(secondary);

    text-decoration: none;
    transition: all .1s ease-out;
    &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .card {
        min-width: 40%;
      }

      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .card {
        min-width: 30%;
      }

    }

    .cell {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 280px;
      -ms-flex: 1 1 280px;
      flex: 1 1 280px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0.8em;


      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .cell {
        min-width: 40%;
      }

      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .cell {
        min-width: 30%;
      }
    }

    .review-inside {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0.833333em;
    }
  }
}

/* Pricing */
.plan {
  font-size: 0.88889rem;
  margin: 0 auto 1.66667rem;
  max-width: 360px;
  text-align: center;

  &.highlight {
    .plan-inside {
      border: 2px solid _palette(accent);
    }
  }
}

.plan-inside {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(_palette(primary),.1);
  padding: 1.66667rem 1.66667rem 0.83333rem;

  .block-buttons {
    margin-top: 1.66667rem;
  }
}

.plan-name {
  color: _palette(primary);
  font-size: 0.88889rem;
  font-weight: bold;
  margin: 0 0 1.66667rem;
}

.plan-price {
  color: _palette(secondary);
  font-size: 2.44444rem;
  font-weight: bold;
  margin-bottom: 1.66667rem;
}

.plan-details {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0 0 0.75em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 940px) {
  .pricing-block {
    .grid{
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -0.83333rem;

      justify-content: center;
    }

    .cell {
      -webkit-flex: 1 1 290px;
      -ms-flex: 1 1 290px;
      flex: 1 1 290px;
      margin: 0 0 1.66667em;


      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .cell {
        min-width: 40%;
      }
    }

    .plan-inside {
      margin: 0 0.833333em;
    }
  }
}

/* FAQ */
.faq-accordion {
  margin-bottom: 3.33333rem;
  text-align: left;
}

.accordion-header {
  background: _palette(off-white);
  border-radius: 0px;
  box-shadow: none;
  margin-top: 1.25rem;

  .accordion-trigger {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: 0;
    border: 2px solid _palette(secondary);
    border-radius: 0;
    box-shadow: none;
    color: _palette(secondary);
    font-size: 1rem;
    height: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 15px;
    text-align: left;
    width: 100%;
  }

  .accordion-icon {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 15px;
  }
}

.accordion-panel {
  margin: 0;
  max-height: 75vh;
  overflow: hidden;
}

.badger-accordion--initialized .accordion-panel {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.accordion-panel.-ba-is-hidden {
  max-height: 0 !important;
  visibility: hidden;
}

.accordion-panel.-ba-is-active {
  box-shadow: 0 3px 10px 0 rgba(_palette(primary),.1);
  margin-top: 0.5rem;
}

.accordion-content {
  background: _palette(off-white);
  border: 2px solid _palette(meta-alt);
  border-radius: 0px;
  color: _palette(dark);
  font-size: 0.88889rem;
  padding: 1rem 15px;
}

.accordion-trigger.-ba-is-active .icon-plus:after {
  display: none;
}

/* Latest posts */
.posts-block {
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .post-card {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }

    .post-card-inside {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .post-card-thumbnail {
      border-radius: 0 3px 3px 0;
      -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;

      img {
        border-radius: 0 3px 3px 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .post-card-content {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }
}

/* Contact */
.contact-block {
  .contact-form {
    margin-bottom: 1.66667rem;
  }

  &:only-child {
    .block-header {
      max-width: 750px;
    }

    .block-title {
      font-size: 2.44444rem;
      margin-bottom: 2.5rem;
    }

    .block-subtitle {
      border-bottom: 1px solid _palette(border);
      font-size: 1.33333rem;
      line-height: 1.5;
      margin-bottom: 1.66667rem;
      padding-bottom: 1.33333rem;
      text-align: left;
    }
  }
}

.block {
  &.bg-dark {
    color: _palette(border);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: _palette(accent);
    }
  }

  &.bg-accent {
    background-color: _palette(accent);
    color: _palette(dark);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: _palette(dark);
    }

    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .button {
      background: transparent;
      border-color: _palette(dark);
      color: _palette(dark);

      &:hover,
      &:focus,
      &:active {
        background: _palette(dark);
        color: _palette(accent);
      }
    }
  }

  &.bg-secondary {
    color: _palette(off-white);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: _palette(off-white);
    }
    background: _palette(secondary);
    
    .underline:after {
      border-color: currentColor;
    }
    .button {
      
      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: _palette(secondary);
      }
    }
  }

  &.bg-off-white {
    background:  lighten( #c5cae9, 10%);
    color: _palette(dark);

    .post-card-inside,
    .review-inside,
    .plan-inside {
      box-shadow: 0 3px 10px 0 rgba(_palette(primary),.15);
    }

    .underline:after {
      border-color: currentColor;
    }

    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .button {
      background: transparent;
      border-color: _palette(secondary);
      color: _palette(secondary);

      &:hover,
      &:focus,
      &:active {
        background: _palette(secondary);
        color: #fff;
      }
    }
  }

  &.bg-white {
    background: #fff;
    color: _palette(dark);

    .post-card-inside,
    .review-inside,
    .plan-inside {
      box-shadow: 0 3px 10px 0 rgba(_palette(primary),.15);
    }

    .underline:after {
      border-color: currentColor;
    }

    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .button {
      background: transparent;
      border-color: _palette(secondary);
      color: _palette(secondary);

      &:hover,
      &:focus,
      &:active {
        background: _palette(secondary);
        color: #fff;
      }
    }
  }

  &.bg-primary {
    background: _palette(primary);
    color: _palette(dark);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: _palette(dark);
    }

    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .button {
      background: transparent;
      border-color: _palette(dark);
      color: _palette(dark);

      &:hover,
      &:focus,
      &:active {
        background: _palette(dark);
        color: _palette(primary);
      }
    }

    .underline:after {
      border-color: currentColor;
    }
  }

  &.bg-gradient {
    background: _palette(secondary);
    background: -webkit-linear-gradient(left,_palette(primary), _palette(secondary));
    background: linear-gradient(to right,_palette(primary), _palette(secondary));
    color: _palette(off-white);

    a {
      &:not(.button) {
        color: _palette(off-white);

        &:hover,
        &:focus {
          border-color: _palette(border);
          color: _palette(border);
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: _palette(off-white);
    }

    blockquote {
      border-color: _palette(off-white);
      color: _palette(off-white);
    }

    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .button {
      background: transparent;
      border-color:_palette(border);
      color: _palette(border);

      &:hover,
      &:focus,
      &:active {
        background: _palette(border);
        color: _palette(secondary);
      }
    }

    .button.secondary {
      background: transparent;
      color: _palette(off-white);
    }

    .block-title {
      color: inherit;
    }

    .block-title-alt {
      color: inherit;
    }

    .underline:after {
      border-color: currentColor;
    }
  }

  &.bg-white + &.bg-white,
  &.bg-dark + &.bg-dark {
    padding-top: 0;
  }
}

// slick

.slick-slide{
  padding: 10px 10px;
}

.card-slider{
    
    button,
    input[type="button"],
    .button {

      &.slick-next, .slick-next-icon, .slick-arrow{
      color: _palette(meta-alt)!important;
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border: none;
        opacity: 1.0;
      }
    }
        &.slick-prev, .slick-prev-icon, .slick-arrow{
          color: _palette(meta-alt)!important;
          &:hover,
          &:focus,
          &:active {
            background-color: transparent;
            border: none;
            opacity: 1.0;
        }
      }
    }
  }
  
// team section
.card-two{
  position: relative;
  width: 350px;
  background: white;
  box-shadow: 0 10px 7px -5px rgba(#000,.4);
  margin: 10px;
  padding-bottom: 0;

  header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: _palette(primary);
    &::after{
      content: '';
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: inherit;
    
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    .avatar{
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -50px;
      z-index: 5;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: white;
      border:3px solid #fff;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }
    }
  }

  h4{
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
    &::after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background: white;
    }
  }
  .desc{
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    font-size: 0.9rem;
    color: _palette(dark);
    background-color:  white;
    margin-bottom: 1.5rem;
  }
  .contacts{
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3.5rem;

    .card-link{
      display: block;
      width: 33.333333%;
      float: left;
      text-align: center;
      
      .fa{
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 39px;
        overflow: hidden;
        text-align: center;
        border-radius: 50%;
        &:before{
          position: relative;
          z-index: 1;
        }
        &::after{
          content: '';
          position: absolute;
          top: -50px; left: 0;
          width: 100%; height: 100%;
          -webkit-transition: top .3s;
          -moz-transition: top .3s;
          -ms-transition: top .3s;
          -o-transition: top .3s;
          transition: top .3s;
          background: _palette(primary);
        }
      }
      &:last-of-type .fa{line-height: 36px;}
    }
  }
  
  footer{
    position: relative;
    bottom: 0;
    height: 50px;
    background-color: _palette(secondary);
    text-align: center;

    p{
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      z-index: 1;
      a{
        padding: 0 1rem;
        color: _palette(off-white);
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -ms-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
        border-bottom: none;
        &:hover{
            color: _palette(primary);
        }
      }
    }
    &::before{
      z-index: 0;
      content: '';
      position: absolute;
      top: 0px; bottom: 0;left: 0;right: 0;
      background: inherit;
    
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 100%;
      -moz-transform-origin: 100%;
      -ms-transform-origin: 100%;
      -o-transform-origin: 100%;
      transform-origin: 100%;
    }
  }
}

