<!doctype html>
<html lang="en">

<head>

    <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} -
        {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/vby6sxz.css">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{'images/favicon_io/favicon-16x16.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'images/favicon_io/favicon-32x32.png' | relative_url}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'images/favicon_io/apple-touch-icon.png' | relative_url}}">
    <link rel="manifest" href="{{'images/favicon_io/site.webmanifest' | relative_url}}">

    <!-- meta cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mentoredsprints">
    <meta name="twitter:title" content="Mentored Sprints - supercharging contribution sprints">
    <meta name="twitter:description" content="Making contribution sprints more accessible and friendlier to all.">
    <meta name="twitter:image:src"
        content="https://raw.githubusercontent.com/pycon-mentored-sprints/digital-assets/7d2151142c84196d498a850b219a18066c19afb7/logos/white-pink-text-blue_1.svg">

</head>

<body>

    {{ content }}
    <!-- Scripts -->
    <script src=" {{ 'js/plugins.js' | relative_url }}">
    </script>
    <script src="{{ 'js/init.js' | relative_url }}"></script>
    <script src="{{ 'js/main.js' | relative_url }}"></script>
</body>

</html>
