---
layout: body
---

<div class="outer-light">
  <div class="inner-medium">

    <article class="event event-full">
      <header class="event-header">
        <h1 class="event-title">{{ page.title }}</h1>

        {% include event_subheader.html page=page date_type='long' %}

      </header><!-- .event-header -->
      {% assign image_is_not_empty = page.image | is_not_empty %}
      {% if image_is_not_empty %}
      <div class="events-thumbnail">
        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
      </div><!-- .event-thumbnail -->
      {% endif %}
      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <div class="event-subtitle">
        {{ page.subtitle }}
      </div><!-- .event-subtitle -->
      {% endif %}
      <div class="event-content">
        {{ content }}
      </div><!-- .event-content -->

  </div><!-- .grid -->
</div><!-- .inner -->
{% assign action = page.actions | is_not_empty %}
{% if action %}
<section id="call-to-action" class="block cta-block bg-{{ page.actions.background }} outer">
  <div class="inner-large">
    <div class="grid">
      <div class="cell block-content">
        <h4 class="block-title">{{page.actions.text}}</h4>
      </div><!-- .block-content -->
      <p class="cell block-buttons">
        <a href="{{page.actions.url}}" class="button secondary" target="_blank">{{page.actions.action}}</a>
      </p>
    </div><!-- .grid -->
  </div><!-- .inner -->
</section><!-- .cta -->
{% endif %}
</section><!-- .hero -->

</article><!-- .event -->

<!-- Next/previous event navigation TBD -->
<!-- 
<nav class="read-next">
  <h2 class="read-next-title">More events</h2>
  <div class="event-feed">
    <article class="event event-card">
      <div class="event-card-inside">
        <a class="event-card-thumbnail" href="#"><img src="#" alt="" /></a>
        <div class="event-card-content">
          <header class="event-header">
            <h3 class="event-title"><a href="#" rel="bookmark">Previous event Title</a></h3>
          </header>
          <footer class="event-meta">
            <time class="published" datetime="">Previous event date</time>
          </footer>
        </div>
      </div>
    </article>
    <article class="event event-card">
      <div class="event-card-inside">
        <a class="event-card-thumbnail" href="#"><img src="#" alt="" /></a>
        <div class="event-card-content">
          <header class="event-header">
            <h3 class="event-title"><a href="#" rel="bookmark">Next event Title</a></h3>
          </header>
          <footer class="event-meta">
            <time class="published" datetime="">Next event date</time>
          </footer>
        </div>
      </div>
    </article>
  </div>
</nav> -->


</div><!-- .inner-medium -->
</div><!-- .outer-->
